/**/*.aux
/*.out
/*.log
/*.bbl
/*.blg
/*.lof
/*.lot
/*.toc
/*.pyg
/**/auto/
/bib/auto/
/thesis-blx.bib
/thesis.run.xml
/thesis.pdf
/_minted-thesis/
/figures/complementation/cgraph1.pdf
/figures/complementation/cgraph1-solution.pdf
/figures/complementation/cgraph1e.pdf
/figures/complementation/cgraph1e-solution.pdf
/figures/complementation/cgraph2.pdf
/figures/complementation/cgraph2-solution.pdf
/figures/complementation/cgraph3.pdf
/figures/complementation/cgraph3-solution.pdf
/figures/complementation/cgraph-min.pdf
/figures/complementation/projections.pdf
/figures/complementation/mult-inh-sat.pdf
/figures/complementation/mult-inh-unsat.pdf
/figures/complementation/hello.pdf
/figures/complementation/sing-inh-pat1.pdf
/figures/complementation/sing-inh-pat2.pdf
/figures/complementation/sing-inh-pat3.pdf
/figures/complementation/sing-inh-pat4.pdf
/figures/complementation/sing-inh-or.pdf
/figures/complementation/sing-inh-direct.pdf
/figures/complementation/sing-inh-direct-solution.pdf
/figures/complementation/diamond.pdf
/revision.tex

/extended-abstract/**/*.aux
/extended-abstract/*.out
/extended-abstract/*.log
/extended-abstract/*.bbl
/extended-abstract/*.blg
/extended-abstract/*.lof
/extended-abstract/*.lot
/extended-abstract/*.toc
/extended-abstract/*.pyg
/extended-abstract/**/auto/
/extended-abstract/extended-abstract-blx.bib
/extended-abstract/extended-abstract.run.xml
/extended-abstract/extended-abstract.pdf
/extended-abstract/_minted-thesis/
